body {
 background-image: url("https://res.cloudinary.com/dtn9ari2r/image/upload/v1534337032/backgrounds/tantweed.gif");
 margin-top: 85px;
 font-size: 1.2em;
}

html, body {
    min-height: 100%;
}

h1 {font-size: 2.0em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.7em;}
h4 {font-size: 1.6em;}
h5 {font-size: 1.5em;}
h6 {font-size: 1.4em;}

.h1-smaller {
	font-size: 1.6em;
}

nav {
 background-image: url("https://res.cloudinary.com/dtn9ari2r/image/upload/v1534340105/backgrounds/5022.png");
}

@font-face { 
	font-family: 'Archistico';
	src: url('../fonts/WebFont.eot');
	src: url('../fonts/Archistico_Simple-webfont.woff') format('woff');
}

.navbar-brand {
	font-family: Archistico;
	font-size: 2.1em;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.div-invisible {
 display: none; 
}

.footer_body {
    position: absolute;
    bottom: 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575px) { 
	.navbar-brand {
		font-size: 1.2em;
	}
	body {
	 	margin-top: 75px;	
	}
}

/* Small devices (landscape phones, 576px and up) */
@media screen (min-width: 576px) and (max-width: 767px) { 
	.navbar-brand {
		font-size: 1.6em;
	}
}

/* Medium devices (tablets, 768px and up) */
@media screen (min-width: 768px) and (max-width: 991px) { 
	.navbar-brand {
		font-size: 1.6em;
	}	
}

/* Large devices (desktops, 992px and up) */
@media screen (min-width: 992px) and (max-width: 1199px) { 
	.navbar-brand {
		font-size: 2.1em;
	}	
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen (min-width: 1200px) { 
	.navbar-brand {
		font-size: 2.1em;
	}	
}
