    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">GrahamArt Gallery</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="oils.html">Oils</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="watercolours.html">Watercolours</a>
            </li>   
            <li class="nav-item">
              <a class="nav-link" href="prints.html">Prints</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mosaics.html">Mosaics</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="http://grahamartblog.wordpress.com" target="_blank">Blog</a>
            </li>                
          </ul>
        </div>
      </div>
    </nav>
