---
layout: page
title: page.title
permalink: page.url
---    
   
      <!-- Page Content -->

      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-xs-6 {{ page.visible-div-1 }}">
          <a href="{{ page.url-work-1 }}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ page.image-1 }}" alt="{{ page.alt=image-1 }}">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 {{ page.visible-div-2 }}">
          <a href="{{ page.url-work-2 }}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ page.image-2 }}" alt="{{ page.alt=image-2 }}">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 {{ page.visible-div-3 }}">
          <a href="{{ page.url-work-3 }}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ page.image-3 }}" alt="{{ page.alt=image-3 }}">
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 {{ page.visible-div-4 }}">
          <a href="{{ page.url-work-4 }}" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ page.image-4 }}" alt="{{ page.alt=image-4 }}">
          </a>
        </div>
      </div>
